@{
  Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<h1>@Model["vendor"].Name's Order Details<h1>
<br>
<h3>Notes About @Model["vendor"].Name:</h3>

  <p>@Model["vendor"].Notes</p>

<h3>@Model["vendor"].Name's Orders:</h3>

<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
}
</ol>
<!-- <form action="/orders/delete" method="post">
  <button type="submit" name="button">Clear All Orders</button>
</form> -->


<h4><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></h4>
<h4><a href='/vendors'>Return to vendor list</a></h4>
<h4><a href='/'>Return to Main Page</a></h4>